<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="row">
        <div class="col-lg-12">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div
                class="card-header d-flex justify-content-between"
                style="background-color: white"
              >
                <div
                  class="card-header-left d-flex flex-row align-items-center"
                >
                  <i
                    class="fa-solid fa-list-check px-2"
                    style="font-size: 48px; color: #4b49ac"
                  ></i>
                  <h5 class="card-title mt-3" style="font-size: 24px">
                    Upload Submission
                  </h5>
                  <div th:if="${message}">
                    <h2 th:text="${message}"></h2>
                  </div>
                </div>
              </div>
              <div class="card-content d-flex flex-column pt-5">
                <form
                  th:action="@{/trainee/task/}+${task_id}+@{/submission-add}"
                  enctype="multipart/form-data"
                  th:method="POST"
                >
                  <div class="first pt-5">
                    <p>File Submission</p>
                    <div class="input">
                      <input
                        type="file"
                        name="fileInput"
                        class="border border-dark border-rounded rounded-2"
                        style="width: 100%; padding: 1rem"
                        accept=".pdf, .doc, .docx"
                        id="fileInput"
                      />
                    </div>
                    <small id="fileSizeError" style="color: red; display: none"
                      >File size exceeds the limit.</small
                    >
                  </div>
                  <div class="third pt-5">
                    <!-- auto input trainee id -->
                    <input
                      type="hidden"
                      id="trainee_id"
                      th:value="${trainee_id}"
                    />
                  </div>
                  <div
                    class="second pt-3 px-3 mb-2 d-flex justify-content-between"
                  >
                    <a
                      onclick="history.back()"
                      class="btn"
                      style="background-color: #4b49ac; color: white"
                      >Back</a
                    >
                    <button
                      class="btn"
                      type="submit"
                      style="
                        border: 1px solid #4b49ac;
                        background-color: white;
                        color: #4b49ac;
                      "
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add New Topik -->
      <div
        class="modal fade"
        id="addTopik"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="addTopikLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="addTopikLabel">
                Add New Topik
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="create_task_name"
                  placeholder="ex. 1"
                />
                <label for="program" class="form-label fw-bold">Program</label>
                <select
                  class="form-control form-control-sm select_program p-2"
                  aria-label="form-select-sm example"
                >
                  <option selected value="">Choose Program</option>
                </select>
                <!-- <label for="class" class="form-label fw-bold">Class</label>
            <input
              type="text"
              class="form-control"
              id="create_Task_class"
              placeholder="ex. MCC-07"
            /> -->
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #4b49ac"
                onclick="create()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script"></div>
  </body>
</html>
