<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div class="card-header" style="background-color: white">
                <h5 class="card-title">Class</h5>
              </div>
              <div class="card-content d-flex flex-column">
                <p class="card-text">Manage Classes.</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">04</p>
                  <i
                    class="fa-solid fa-school-flag school"
                    style="font-size: 48px"
                  ></i>
                </div>
                <a href="#" class="btn btn-primary mt-2" style="width: 50%"
                  >View Classes</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div class="card-header" style="background-color: white">
                <h5 class="card-title">Course</h5>
              </div>
              <div
                class="card-content d-flex flex-column justify-content-center"
              >
                <p class="card-text">View and manage courses.</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">04</p>
                  <i
                    class="fa-solid fa-chalkboard-user school"
                    style="font-size: 48px"
                  ></i>
                </div>
                <a href="#" class="btn btn-primary mt-2" style="width: 50%"
                  >View Courses</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div class="card-header" style="background-color: white">
                <h5 class="card-title">Trainers</h5>
              </div>
              <div
                class="card-content d-flex flex-column justify-content-center"
              >
                <p class="card-text">Manage and view trainers</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">04</p>
                  <i class="fa-solid fa-users-line" style="font-size: 48px"></i>
                </div>
                <a href="#" class="btn btn-primary mt-2" style="width: 50%"
                  >View Trainer</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-4">
          <div
            class="card shadow-lg"
            style="border-radius: 20px; max-width: 600px"
          >
            <div class="card-body">
              <div
                class="card-header d-flex justify-content-between"
                style="background-color: white"
              >
                <h5 class="card-title">Students</h5>
              </div>
              <div
                class="card-content d-flex flex-column justify-content-center"
              >
                <p class="card-text">Manage and view Students</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">04</p>
                  <i
                    class="fa-solid fa-user-graduate"
                    style="font-size: 48px; color: #98bdff"
                  ></i>
                </div>
                <a href="#" class="btn btn-primary mt-2" style="width: 50%"
                  >View Students</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div
            class="card shadow-lg"
            style="border-radius: 20px; max-width: 600px"
          >
            <div class="card-body">
              <div
                class="card-header d-flex justify-content-between"
                style="background-color: white"
              >
                <h5 class="card-title">Segments</h5>
              </div>
              <div
                class="card-content d-flex flex-column justify-content-center"
              >
                <p class="card-text">Manage and view Segments</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">04</p>
                  <i
                    class="fa-solid fa-diagram-project"
                    style="font-size: 48px; color: #7da0fa"
                  ></i>
                </div>
                <a href="#" class="btn btn-primary mt-2" style="width: 50%"
                  >View Students</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div
            class="card shadow-lg"
            style="border-radius: 20px; max-width: 600px"
          >
            <div class="card-body">
              <div
                class="card-header d-flex justify-content-between"
                style="background-color: white"
              >
                <h5 class="card-title">Soon</h5>
              </div>
              <div
                class="card-content d-flex flex-column justify-content-center"
              >
                <p class="card-text">Soooooooooooon</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">##</p>
                  <i
                    class="fa-solid fa-spinner"
                    style="font-size: 48px; color: #4b49ac"
                  ></i>
                </div>
                <a href="#" class="btn btn-primary mt-2" style="width: 50%"
                  >View Soon</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/js/trainee/dashboard.js}"></script>
    </div>
  </body>
</html>
