<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div class="card-header" style="background-color: white">
                <h5 class="card-title">Class</h5>
              </div>
              <div class="card-content d-flex flex-column">
                <p class="card-text">Access your course lessons.</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">Java</p>
                  <i
                    class="fa-solid fa-chalkboard-user school"
                    style="font-size: 48px"
                  ></i>
                </div>
                <a
                  th:href="@{/trainee/class}"
                  class="btn btn-primary mt-2"
                  style="width: 50%"
                  >View Course</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div class="card-header" style="background-color: white">
                <h5 class="card-title">Task</h5>
              </div>
              <div
                class="card-content d-flex flex-column justify-content-center"
              >
                <p class="card-text">View your task.</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">04</p>
                  <i
                    class="fa-solid fa-clipboard"
                    style="font-size: 48px; color: #f3797e"
                  ></i>
                </div>
                <a
                  th:href="@{/trainee/task}"
                  class="btn btn-primary mt-2"
                  style="width: 50%"
                  >View Task</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div class="card-header" style="background-color: white">
                <h5 class="card-title">SUbmission</h5>
              </div>
              <div
                class="card-content d-flex flex-column justify-content-center"
              >
                <p class="card-text">Manage submissions</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">04</p>
                  <i class="fa-solid fa-list-check" style="font-size: 48px"></i>
                </div>
                <a
                  th:href="@{/trainee/submission}"
                  class="btn btn-primary mt-2"
                  style="width: 50%"
                  >View Assigment</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-8">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div
                class="card-header d-flex justify-content-between"
                style="background-color: white"
              >
                <h5 class="card-title">My Grade</h5>
                <i class="fa-solid fa-chart-line" style="font-size: 48px"></i>
              </div>
              <div
                class="card-content d-flex flex-column justify-content-center"
              >
                <div class="chart-container">
                  <canvas id="gradeChart"></canvas>
                </div>
                <a
                  th:href="@{/trainee/grade}"
                  class="btn btn-primary mt-2"
                  style="width: 50%"
                  >View Grades</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/js/trainee/dashboard.js}"></script>
    </div>
  </body>
</html>
