<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/mainLayout}"
>
  <body>
    <section layout:fragment="content">
      <div id="free-quote" class="free-quote">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 offset-lg-4">
              <div
                class="section-heading wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.3s"
              >
                <h4>Submission</h4>
                <div class="line-dec"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ***** Header Area End ***** -->
    </section>
  </body>
</html>
