<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/mainLayout}"
>
  <body>
    <section layout:fragment="content">
      <div id="free-quote" class="free-quote" th:object="${materies}">
        <div class="container d-flex justify-content-start">
          <div class="row">
            <div class="col-lg-4 offset-lg-4">
              <div
                class="section-heading wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.3s"
              >
                <h6>Topic</h6>
                <h4 th:text="${materies[0].topic.name}">Grow With Us Now</h4>
                <div class="line-dec"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ***** Header Area End ***** -->
      <div id="segment" class="blog">
        <div class="container d-flex justify-content-end">
          <div class="row">
            <div
              class="col-lg-4 offset-lg-4 wow fadeInDown"
              data-wow-duration="1s"
              data-wow-delay="0.3s"
            >
              <div class="section-heading">
                <h4><em>Materi</em></h4>
                <div class="line-dec"></div>
              </div>
            </div>
            <div
              class="col-lg-7 show-up wow fadeInUp"
              data-wow-duration="1s"
              data-wow-delay="0.3s"
            >
              <div th:each="materi,iStat : ${materies}">
                <input
                  type="hidden"
                  th:value="${materi.topic.id}"
                  class="materi_topic_id"
                />
                <div th:if="${iStat.count == 1}" class="blog-post">
                  <div class="thumb">
                    <a th:href="@{/trainee/topic/materi/}+${materi.id}"
                      ><img
                        th:src="@{/assets/images/landing_page/blog-post-01.jpg}"
                        alt=""
                    /></a>
                  </div>
                  <div class="down-content">
                    <a th:href="@{/trainee/topic/materi/}+${materi.id}"
                      ><h4 th:text="${materi.name}">
                        Lorem Ipsum Dolor Sit Amet, Consectetur Adelore Eiusmod
                        Tempor Incididunt
                      </h4></a
                    >
                    <p th:class="@{materi_desc}+${materi.id}">
                      Lorem ipsum dolor sit amet, cocteturi adipiscing
                      eliterski.
                    </p>
                    <span class="author"
                      ><img
                        th:src="@{/assets/images/logo_user.jpg}"
                        alt="" /><span
                        th:text="'By : '+${materi.employee.name}"
                      ></span
                    ></span>
                    <div class="border-first-button">
                      <a th:href="@{/trainee/topic/materi/}+${materi.id}"
                        >Check</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-5 wow fadeInUp d-flex justify-content-end"
              data-wow-duration="1s"
              data-wow-delay="0.3s"
            >
              <div class="blog-posts">
                <div class="row">
                  <div class="col">
                    <div
                      class="overflow-auto mt-3 px-3"
                      style="width: 400px; height: 600px"
                    >
                      <div th:each="materi,iStat : ${materies}">
                        <div th:if="${iStat.count != 1}">
                          <div class="col-lg-12" th:id="${iStat.count}">
                            <div class="post-item mb-5">
                              <div class="row">
                                <div class="thumb">
                                  <a
                                    th:href="@{/trainee/topic/materi/}+${materi.id}"
                                    ><img
                                      th:src="@{/assets/images/landing_page/blog-post-0}+${iStat.count}+@{.jpg}"
                                      alt=""
                                  /></a>
                                </div>
                                <div class="down-content">
                                  <a
                                    th:href="@{/trainee/topic/materi/}+${materi.id}"
                                    ><h4 th:text="${materi.name}">
                                      Lorem Ipsum Dolor Sit Amet, Consectetur
                                      Adelore Eiusmod Tempor Incididunt
                                    </h4></a
                                  >
                                  <p th:class="@{materi_desc}+${materi.id}">
                                    Lorem ipsum dolor sit amet, cocteturi
                                    adipiscing eliterski.
                                  </p>
                                  <div class="border-first-button">
                                    <a
                                      th:href="@{/trainee/topic/materi/}+${materi.id}"
                                      >Check</a
                                    >
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/assets/js/landing_page/trainee.js}"></script>
    </div>
  </body>
</html>
