/* navbar */
.fixed-top {
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-link {
  color: black;
  font-size: 1rem;
  padding: 10px;
  display: block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.nav-item {
  padding: 0 20px;
}

.nav-link:hover {
  color: #7978e9;
  background-color: #e9ecef;
}

.nav-item .line::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #4b49ac;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-item .line:hover::after {
  transform: scaleX(0.5);
}

.nav-item .nav-link.active {
  border-bottom: 0.1rem solid #4b49ac;
  color: #7978e9;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

/* dashboard content */
.card {
  margin-bottom: 20px;
}

.school {
  color: #7978e9;
}

.number {
  color: black;
  font-size: 36px;
}

.fa-users-line {
  color: #f3797e;
}

.fa-list-check {
  color: #4b49ac;
}

.fa-chart-line {
  color: #98bdff;
}

/* dashboard card */
.bd {
  border-bottom: 4px solid #ed8286;
}
.col-lg-4 a {
  color: black;
  text-decoration: none;
}
.chart {
  width: 70%;
}
#dashboard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#dashboard:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.new-task {
  background-color: #ed8286;
}
