<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/assets/images/logo/logolms.png}"
    />
    <title>Elemes</title>
    <!-- Bootstrap core CSS -->
    <link
      th:href="@{/assets/css/landing_page/bootstrap.min.css}"
      rel="stylesheet"
    />
    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Additional CSS Files -->
    <link
      rel="stylesheet"
      th:href="@{/assets/css/landing_page/fontawesome.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/css/landing_page/templatemo-digimedia-v2.css}"
    />
    <link rel="stylesheet" th:href="@{/assets/css/landing_page/animated.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/landing_page/owl.css}" />
  </head>

  <body>
    <div th:replace="fragment/navbarTrainee :: navbar"></div>
    <section layout:fragment="content"></section>

    <!-- Scripts -->

    <script
      th:src="@{/assets/js/landing_page/bootstrap/bootstrap.bundle.min.js}"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>

    <script th:src="@{/assets/js/landing_page/owl-carousel.js}"></script>
    <script th:src="@{/assets/js/landing_page/animation.js}"></script>
    <script th:src="@{/assets/js/landing_page/imagesloaded.js}"></script>
    <script th:src="@{/assets/js/landing_page/custom.js}"></script>
    <script th:src="@{/assets/js/addCSRF.js}"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <section layout:fragment="script"></section>
  </body>
</html>
