<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div id="main-content">
        <div class="page-heading">
          <div class="page-title mb-3">
            <div class="row">
              <div class="col-12 col-md-6 order-md-1 order-last">
                <h5>Task & Submission</h5>
                <p class="text-subtitle text-muted">
                  List of your task(s) and trainee submissions
                </p>
              </div>
              <div class="col-12 col-md-6 order-md-2 order-first">
                <nav
                  aria-label="breadcrumb"
                  class="breadcrumb-header float-start float-lg-end"
                >
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Task & Submission
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          <section class="section">
            <div class="row">
              <div class="col-12">
                <div class="card" id="TaskSub">
                  <div class="card-header d-flex justify-content-between">
                    <div class="left">
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link active"
                            id="task-tab"
                            data-bs-toggle="tab"
                            href="#task"
                            role="tab"
                            aria-controls="task"
                            aria-selected="true"
                            >Task(s)</a
                          >
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="sub-tab"
                            data-bs-toggle="tab"
                            href="#sub"
                            role="tab"
                            aria-controls="sub"
                            aria-selected="false"
                            tabindex="-1"
                            hidden
                            >Submission(s)</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="right">
                      <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addTask"
                      >
                        Add Task
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="myTab">
                      <div
                        class="tab-pane fade active show"
                        id="task"
                        role="tabpanel"
                        aria-labelledby="task-tab"
                      >
                        <table
                          class="table display table-stripped table-bordered mt-3 text-center"
                          id="table-task"
                        >
                          <thead class="table">
                            <tr>
                              <th class="col-1 text-center">No.</th>
                              <th class="col-2 text-center">Name</th>
                              <th class="col-2 text-center">Deadline</th>
                              <th class="col-2 text-center">Class Name</th>
                              <th class="col-1 text-center">Segment</th>
                              <th class="col-1 text-center">Action</th>
                            </tr>
                          </thead>
                        </table>
                      </div>

                      <div
                        class="tab-pane fade"
                        id="sub"
                        role="tabpanel"
                        aria-labelledby="sub-tab"
                      >
                        <table
                          class="table display table-stripped table-bordered mt-3 text-center"
                          id="table-submission"
                        >
                          <thead class="table">
                            <tr>
                              <th class="col-1 text-center">No.</th>
                              <th class="col-1 text-center">Name</th>
                              <th class="col-1 text-center">File Submission</th>
                              <th class="col-2 text-center">Submit Date</th>
                              <th class="col-1 text-center">Nilai</th>
                              <th class="col-1 text-center">Penilai</th>
                              <th class="col-3 text-center">Action</th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div
        class="modal fade"
        id="evaluate"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="evaluateLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="evaluateLabel">
                Evaluate
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="desc" class="form-label fw-bold pt-3"
                  >Submission</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="eval_submission"
                  hidden
                />
                <label for="desc" class="form-label fw-bold pt-3">Nilai</label>
                <input type="number" class="form-control" id="eval_nilai" />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #4b49ac"
                onclick="eval()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add task  -->
      <div
        class="modal fade"
        id="addTask"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="addTaskLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="addTaskLabel">
                Add Task
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="create_task_name"
                  placeholder="ex. Exercise"
                  required
                />
                <label for="desc" class="form-label fw-bold pt-3"
                  >Description</label
                >
                <textarea
                  type="text"
                  class="form-control"
                  id="create_task_desc"
                  placeholder="ex. Catch Me If You Can"
                  required
                ></textarea>
                <label for="deadline" class="form-label fw-bold pt-3"
                  >Deadline</label
                >
                <input
                  type="datetime-local"
                  class="form-control"
                  id="create_task_deadline"
                  placeholder="ex. 23-05-2023 00:00"
                  required
                />
                <label for="segment" class="form-label fw-bold pt-3"
                  >Segment</label
                >
                <select
                  class="form-control form-control-sm select_segment p-2"
                  aria-label="form-select-sm example"
                  id="select_segment"
                  required
                >
                  <option selected value="">Choose Segment</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" onclick="create()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Update task -->
      <div
        class="modal fade"
        id="updateTask"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="updateTaskLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="addTaskLabel">
                Update Task
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="update_id"
                  hidden
                  required
                />
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="update_task_name"
                  placeholder="ex. 1"
                  required
                />
                <label for="desc" class="form-label fw-bold pt-3"
                  >Description</label
                >
                <textarea
                  type="text"
                  class="form-control"
                  id="update_task_desc"
                  cols="30"
                  rows="10"
                  required
                ></textarea>

                <label for="deadline" class="form-label fw-bold pt-3"
                  >Deadline</label
                >
                <input
                  type="datetime-local"
                  class="form-control"
                  id="update_task_deadline"
                  required
                />
                <label for="segment" class="form-label fw-bold pt-3"
                  >Segment</label
                >
                <select
                  class="form-control form-control-sm select_segment p-2"
                  aria-label="form-select-sm example"
                  id="update_segment"
                >
                  <option selected value="">Choose Segment</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" onclick="update()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Detail task -->
      <div
        class="modal fade"
        id="detailTask"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="detailTaskLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="detailTaskLabel">
                Detail Task
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="detail_task_id"
                  hidden
                />
                <div>
                  <h5 class="fw-bold">Task Name</h5>
                  <p id="detail_task_name"></p>
                </div>

                <div class="pt-3">
                  <h5 class="fw-bold">Description</h5>
                  <p id="detail_task_desc"></p>
                </div>

                <div class="pt-3">
                  <h5 class="fw-bold">Deadline</h5>
                  <p id="detail_task_deadline"></p>
                </div>

                <div class="pt-3">
                  <h5 class="fw-bold">Segment</h5>
                  <p id="detail_segment_id"></p>
                </div>
              </div>
            </div>
            <!-- <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Modal Eval -->
    </section>
    <div layout:fragment="script">
      <script th:src="@{/assets/js/trainer/allTask.js}"></script>
    </div>
  </body>
</html>
