<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="header px-4 py-1 my-2 text-center">
        <div class="bd">
          <h2>WELCOME</h2>
          <h2 sec:authentication="name" style="padding-bottom: 20px"></h2>
        </div>
      </div>
      <div class="row px-5 mt-4">
        <div class="col-lg-4">
          <a class="col-content" th:href="@{/trainee/class}">
            <div class="card" id="dashboard" style="border-radius: 20px">
              <div class="card-body">
                <div
                  class="card-header d-flex justify-content-between"
                  style="background-color: white"
                >
                  <h5 class="card-title">Class</h5>
                  <i
                    class="fa-solid fa-school-flag school"
                    style="font-size: 32px"
                  ></i>
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                  <p class="card-text">Access your course lessons</p>

                  <!-- <p id="class_sum" class="number"></p> -->
                  <!-- <div class="chart">
                    <canvas id="doughnutChart"></canvas>
                  </div> -->
                  <h4>Program</h4>
                  <div class="program-name"></div>
                  <h4>Class</h4>
                  <div class="class-name"></div>
                </div>
              </div></div
          ></a>
        </div>
        <div class="col-lg-4">
          <a class="col-content" th:href="@{/trainee/task}">
            <div class="card-task" id="dashboard" style="border-radius: 20px">
              <div class="card-body">
                <div
                  class="card-header d-flex justify-content-between align-items-center"
                  style="background-color: white"
                >
                  <h5 class="card-title">Task</h5>
                  <i class="fa-solid fa-list-check" style="font-size: 32px"></i>
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                  <p class="card-text">View your tasks</p>
                  <div class="chart">
                    <canvas id="taskChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a class="col-content" th:href="@{/trainee/grade}">
            <div class="card" id="dashboard" style="border-radius: 20px">
              <div class="card-body">
                <div
                  class="card-header d-flex justify-content-between align-items-center"
                  style="background-color: white"
                >
                  <h5 class="card-title">Grade</h5>
                  <i
                    class="fa-solid fa-chart-line px-2"
                    style="font-size: 32px; color: #4b49ac"
                  ></i>
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                  <p class="card-text">View your grades</p>
                  <div class="chart">
                    <canvas id="taskChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/js/trainee/dashboard.js}"></script>
    </div>
  </body>
</html>
