<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div class="card-header" style="background-color: white">
                <h5 class="card-title">Class</h5>
              </div>
              <div class="card-content d-flex flex-column">
                <p class="card-text">Manage your courses and curriculum.</p>
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">04</p>
                  <i
                    class="fa-solid fa-school-flag school"
                    style="font-size: 48px"
                  ></i>
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                  <p class="card-text">Manage your courses and curriculum.</p>

                  <!-- <p id="class_sum" class="number"></p> -->
                  <div class="chart">
                    <canvas id="doughnutChart"></canvas>
                  </div>
                </div>
              </div></div
          ></a>
        </div>
        <div class="col-lg-4">
          <a class="col-content" th:href="@{/trainer/materi}">
            <div class="card" id="dashboard" style="border-radius: 20px">
              <div class="card-body">
                <div
                  class="card-header d-flex justify-content-between align-items-center"
                  style="background-color: white"
                >
                  <h5 class="card-title">Materi</h5>
                  <i
                    class="fa-solid fa-clipboard px-2"
                    style="font-size: 32px; color: #f3797e"
                  ></i>
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                  <p class="card-text">View and manage your Materi.</p>
                  <div class="chart">
                    <canvas id="materiChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <a class="col-content" th:href="@{/trainer/task}">
            <div class="card" id="dashboard" style="border-radius: 20px">
              <div class="card-body">
                <div
                  class="card-content-detail d-flex justify-content-between align-items-center px-3"
                >
                  <p class="number">04</p>
                  <i class="fa-solid fa-list-check" style="font-size: 48px"></i>
                </div>
                <a href="#" class="btn btn-primary mt-2" style="width: 50%"
                  >View Assigment</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-8">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div
                class="card-header d-flex justify-content-between"
                style="background-color: white"
              >
                <h5 class="card-title">Student Grades</h5>
                <i class="fa-solid fa-chart-line" style="font-size: 48px"></i>
              </div>
              <div
                class="card-content d-flex flex-column justify-content-center"
              >
                <div class="chart-container">
                  <canvas id="gradeChart"></canvas>
                </div>
                <a
                  th:href="@{/Trainer/grade}"
                  class="btn btn-primary mt-2"
                  style="width: 50%"
                  >View Grades</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/js/trainer/dashboard.js}"></script>
    </div>
  </body>
</html>
