<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="row">
        <div class="col-lg-12">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div
                class="card-header d-flex justify-content-between"
                style="background-color: white"
              >
                <div
                  class="card-header-left d-flex flex-row align-items-center"
                >
                  <i
                    class="fa-solid fa-diagram-project"
                    style="font-size: 48px; color: #7da0fa"
                  ></i>
                  <h5 class="card-title mt-2" style="font-size: 48px">
                    Segment
                  </h5>
                </div>
              </div>
              <div class="card-content d-flex flex-column pt-2">
                <!-- Loop through segments from the database -->
                <div class="card mb-3" style="">
                  <div class="card-body">
                    <h5 class="card-title pb-2">Segement name</h5>

                    <!-- Segment -->
                    <div class="card mb-3">
                      <div class="card-body">
                        <h5 class="card-title">Class name</h5>

                        <!-- Study Materials -->
                        <div class="container border-bottom mb-3">
                          <div
                            class="card-body-2 d-flex justify-content-between align-items-center"
                          >
                            <div class="lesson-container">
                              <h5 class="card-title">Lessons</h5>
                              <!-- topik dan materi -->
                              <p class="card-text">Materi disini</p>
                            </div>
                            <a href="#" class="btn"
                              ><i
                                class="fa-solid fa-up-right-from-square"
                                style="font-size: 24px"
                              ></i
                            ></a>
                          </div>
                        </div>

                        <!-- Tasks -->
                        <div class="container border-bottom mb-3">
                          <div
                            class="card-body d-flex justify-content-between align-items-center"
                          >
                            <div class="task-container">
                              <h5 class="card-title">Tasks</h5>
                              <p class="card-text">Task disini</p>
                            </div>
                            <a th:href="@{/trainer/task}" class="btn"
                              ><i
                                class="fa-solid fa-up-right-from-square"
                                style="font-size: 24px"
                              ></i
                            ></a>
                          </div>
                        </div>

                        <!-- Submission -->
                        <div class="container mb-3">
                          <div
                            class="card-body d-flex justify-content-between align-items-center"
                          >
                            <div class="task-container">
                              <h5 class="card-title">Submission</h5>
                              <p class="card-text">SUbmission disini</p>
                            </div>
                            <a th:href="@{ttrainer/submission}" class="btn"
                              ><i
                                class="fa-solid fa-up-right-from-square"
                                style="font-size: 24px"
                              ></i
                            ></a>
                          </div>
                        </div>
                        <!-- <a href="#" class="btn btn-primary">View Segment</a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/js/trainer/segment.js}"></script>
    </div>
  </body>
</html>
