.bd {
  border-bottom: 7px solid #f3797e;
}
.col-lg-4 a {
  color: black;
  text-decoration: none;
}
.chart {
  width: 70%;
}
#dashboard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#dashboard:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
