<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="row">
        <div class="col-lg-12">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div
                class="card-header d-flex justify-content-between"
                style="background-color: white"
              >
                <div
                  class="card-header-left d-flex flex-row align-items-center"
                >
                  <i
                    class="fa-solid fa-users-line px-2"
                    style="font-size: 48px"
                  ></i>
                  <h5 class="card-title mt-3">Trainees</h5>
                </div>
                <div class="card-header-right">
                  <button
                    type="button"
                    class="btn"
                    style="background-color: #7978e9; color: white"
                    data-bs-toggle="modal"
                    data-bs-target="#addTrainee"
                  >
                    Add Trainee
                  </button>
                </div>
              </div>
              <div class="card-content d-flex flex-column">
                <table
                  class="table display table-stripped table-bordered mt-3 text-center border border-rounded rounded-2"
                  id="table-trainee"
                >
                  <thead class="table-dark">
                    <tr>
                      <th class="col-1 text-center">No.</th>
                      <th class="col-2 text-center">Name</th>
                      <th class="col-2 text-center">Email</th>
                      <th class="col-2 text-center">Phone</th>
                      <th class="col-2 text-center">Classroom</th>
                      <th class="col-4 text-center">Action</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal create Class -->
      <div
        class="modal fade"
        id="addTrainee"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="addTraineeLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="addTraineeLabel">
                Add Trainee
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="create_trainee_name"
                  placeholder="ex. Miya"
                />
                <label for="email" class="form-label fw-bold pt-3">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="create_trainee_email"
                  placeholder="ex. MMiya.bi@gmail.com"
                />
                <label for="phone" class="form-label fw-bold pt-3"
                  >Phone Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="create_trainee_phone"
                  placeholder="ex. 0897678281"
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="create_trainee_address"
                  placeholder="ex. Shibuya"
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Username</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="create_trainee_username"
                  placeholder="ex. kambinghitam"
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="create_trainee_password"
                  placeholder="ex. ********"
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Program</label
                >
                <select name="" id="select_program" class="form-control">
                  <option value="">Choose Program</option>
                </select>
                <label for="address" class="form-label fw-bold pt-3"
                  >Program</label
                >
                <select
                  name=""
                  id="select_classroom"
                  class="form-control"
                  disabled
                >
                  <option>Choose Class Room</option>
                </select>
                <input type="hidden" id="classroomId" />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #4b49ac"
                onclick="create()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Update -->
      <div
        class="modal fade"
        id="updateTrainee"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="updateTraineeLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="addTraineeLabel">
                Update Trainee
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input type="hidden" id="update_trainee_id" />
                <input
                  type="text"
                  class="form-control"
                  id="update_trainee_name"
                  placeholder="ex. Miya"
                />
                <label for="email" class="form-label fw-bold pt-3">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="update_trainee_email"
                  placeholder="ex. MMiya.bi@gmail.com"
                />
                <label for="phone" class="form-label fw-bold pt-3"
                  >Phone Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="update_trainee_phone"
                  placeholder="ex. 0897678281"
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="update_trainee_address"
                  placeholder="ex. Shibuya"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #4b49ac"
                onclick="update()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Detail Update -->
      <div
        class="modal fade"
        id="detailTrainee"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="detailTraineeLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="detailTraineeLabel">
                Detail Trainee
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="detail_trainee_id"
                  placeholder="ex. Miya"
                  disabled
                />
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="detail_trainee_name"
                  placeholder="ex. Miya"
                  disabled
                />
                <label for="email" class="form-label fw-bold pt-3">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="detail_trainee_email"
                  placeholder="ex. MMiya.bi@gmail.com"
                  disabled
                />
                <label for="phone" class="form-label fw-bold pt-3"
                  >Phone Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="detail_trainee_phone"
                  placeholder="ex. 0897678281"
                  disabled
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="detail_trainee_address"
                  placeholder="ex. Shibuya"
                  disabled
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #4b49ac"
                onclick="update()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/js/admin/trainee.js}"></script>
    </div>
  </body>
</html>
