<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Trainer Table</h3>
                    <p class="text-subtitle text-muted">List of Trainer we have</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Trainer</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Basic Tables start -->
        <section class="section">
            <div class="card d-flex">
              <div class="card-header d-flex justify-content-between">
                <b>List Of Trainer</b>
                <input type="hidden" id="class_id" th:value="*{id}">
                <button class="btn btn-primary mb-3" data-bs-toggle="modal"
                data-bs-target="#addTrainer">Add Trainer</button>
              </div>
                <div class="card-body ">
                    <table class="table" id="table-trainer">
                        <thead class=" text-center">
                            <tr>
                                <th class="col-1">No</th>
                                <th class="col-3">Name</th>
                                <th class="col-2">Email</th>
                                <th class="col-2">Phone</th>
                                <th class="col-4">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </section>
        <!-- Basic Tables end -->
      </div>
      <!-- Modal create Class -->
      <div
        class="modal fade"
        id="addTrainer"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="addTrainerLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="addTrainerLabel">
                Add Trainer
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="create_trainer_name"
                  placeholder="ex. Miya"
                />
                <label for="email" class="form-label fw-bold pt-3">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="create_trainer_email"
                  placeholder="ex. kambingjantan@gmail.com"
                />
                <label for="phone" class="form-label fw-bold pt-3"
                  >Phone Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="create_trainer_phone"
                  placeholder="ex. 0897678281"
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="create_trainer_address"
                  placeholder="ex. Shibuya"
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Username</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="create_trainer_username"
                  placeholder="ex. kambingjantan"
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="create_trainer_password"
                  placeholder="ex. ********"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #4b49ac"
                onclick="create()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Detail Update -->
      <div
        class="modal fade"
        id="detailTrainer"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="detailTrainerLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="detailTrainerLabel">
                Detail Trainer
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold" hidden>Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="detail_trainer_id"
                  placeholder="ex. Miya"
                  hidden
                  disabled
                />
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="detail_trainer_name"
                  placeholder="ex. Miya"
                  disabled
                />
                <label for="email" class="form-label fw-bold pt-3">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="detail_trainer_email"
                  placeholder="ex. MMiya.bi@gmail.com"
                  disabled
                />
                <label for="phone" class="form-label fw-bold pt-3"
                  >Phone Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="detail_trainer_phone"
                  placeholder="ex. 0897678281"
                  disabled
                />
                <label for="address" class="form-label fw-bold pt-3"
                  >Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="detail_trainer_address"
                  placeholder="ex. Shibuya"
                  disabled
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--Change Role -->
      <div
        class="modal fade text-left modal-borderless show"
        id="changeRole"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="changeRoleLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="detailTraineeLabel">
                Ganti Role Account Trainer
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="role_trainee_id"
                  placeholder="ex. Miya"
                  disabled
                />
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="role_trainee_name"
                  placeholder="ex. Miya"
                  disabled
                />
                <label for="email" class="form-label fw-bold pt-3">Role</label>
                <div class="radio_status"></div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #4b49ac"
                onclick="updateRole()"
              >
                Save
              </button>
            </div>
            </div>
          </div>
        </div>
      </div>

       <!-- Change Status   -->
        <div
        class="modal fade text-left modal-borderless show"
        id="changeStatus"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="changeStatusLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="detailTraineeLabel">
                Ganti Status Account Trainer
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="status_trainee_id"
                  placeholder="ex. Miya"
                  disabled
                />
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="status_trainee_name"
                  placeholder="ex. Miya"
                  disabled
                />
                <label for="email" class="form-label fw-bold pt-3">Status</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status"  value="true">
                  <label class="form-check-label" for="inlineRadio1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status"  value="false">
                  <label class="form-check-label" for="inlineRadio2">Non - Active</label>
                </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #4b49ac"
                onclick="updateStatus()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/assets/js/admin/trainer.js}"></script>
    </div>
  </body>
</html>
