.wrapper {
  height: 200vh;
  background: linear-gradient(to bottom, #7da0fa, #7978e9, #98bdff);
}

/* navbar */
.fixed-top {
  position: sticky;
  top: 0;
  width: 100%;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 3.85rem;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  transition: background-color 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar .nav-link {
  color: #000;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
}

.sidebar .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

/* dashboard content */
.card {
  margin-bottom: 20px;
}

.school {
  color: #7978e9;
}

.number {
  color: black;
  font-size: 36px;
}

.fa-users-line {
  color: #f3797e;
}

.fa-list-check {
  color: #4b49ac;
}

/* .chart-container {
  max-width: 600px;
} */

.fa-chart-line {
  color: #98bdff;
}
