<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Materi</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" />

    <link rel="stylesheet" th:href="@{/assets/vendors/iconly/bold.css}" />

    <link
      rel="stylesheet"
      th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/assets/css/app.css}" />
    <link
      rel="shortcut icon"
      th:href="@{/assets/images/favicon.svg}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}"
    />
  </head>
  <body>
    <script src="assets/static/js/initTheme.js"></script>
    <nav class="navbar navbar-light">
      <div
        class="container d-flex flex-row align-items-center justify-content-start"
      >
        <a class="btn" href="javascript:history.back()"
          ><i class="bi bi-chevron-left"></i
        ></a>
        <div class="navbar-brand px-2">Add New Materi</div>
      </div>
    </nav>

    <div class="container">
      <div class="card mt-3">
        <div class="card-header">
          <h4 class="card-title">Write your new materi here</h4>
        </div>
        <div class="card-body">
          <div class="first">
            <label for="topik" class="form-label fw-bold">Topik</label>
            <select
              class="form-control form-control-sm select_topic p-2"
              aria-label="form-select-sm example"
              id="select_topic"
            >
              <option selected value="">Choose Topik</option>
            </select>
          </div>
          <div class="second">
            <p>Name</p>
            <div class="input">
              <input
                type="text"
                class="border border-dark border-rounded rounded-2 update_materi_id"
                style="width: 100%; padding: 1rem"
                id="create_materi_name"
              />
            </div>
          </div>
          <div class="third pt-3 mb-5">
            <p>Description</p>
            <textarea
              type="text"
              class="border border-dark border-rounded rounded-2 update_materi_desc"
              style="width: 100%; padding: 1rem"
              id="create_materi_description"
            ></textarea>
          </div>
        </div>
        <div class="end d-flex justify-content-center">
          <button
            class="btn btn-success mb-4 mx-5"
            type="submit"
            onclick="create()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
    <script
      th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"
    ></script>

    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- summernote -->

    <script src=" https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote.min.js "></script>

    <script src="assets/compiled/js/app.js"></script>
    <script th:src="@{/assets/js/addCSRF.js}"></script>
    <script th:src="@{/assets/js/trainer/addMateri.js}"></script>
  </body>
</html>
