<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/trainer/main}"
>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="row">
        <div class="col-lg-12">
          <div class="card shadow-lg" style="border-radius: 20px">
            <div class="card-body">
              <div
                class="card-header d-flex justify-content-between"
                style="background-color: white"
              >
                <div
                  class="card-header-left d-flex flex-row align-items-center"
                >
                  <i
                    class="fa-solid fa-chalkboard-user school px-2"
                    style="font-size: 36px"
                  ></i>
                  <h5 class="card-title mt-3" style="font-size: 24px">Class</h5>
                </div>
              </div>
              <div class="card-content d-flex flex-column">
                <table
                  class="table display table-stripped table-bordered mt-3 text-center"
                  id="table-class"
                >
                  <thead class="table-dark">
                    <tr>
                      <th class="col-1 text-center">No.</th>
                      <th class="col-4 text-center">Name</th>
                      <th class="col-2 text-center">Program</th>
                      <th class="col-4 text-center">Action</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal update Class -->
      <div
        class="modal fade"
        id="detailClass"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="detailClassLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="detailClassLabel">
                Detail Class
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="detail_class_id"
                  placeholder="ex. 1"
                  hidden
                />
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="detail_class_name"
                  readonly
                />
                <label for="desc" class="form-label fw-bold pt-3"
                  >Program</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="detail_program_name"
                  readonly
                />
                <!-- <label for="class" class="form-label fw-bold">Class</label>
                <input
                  type="text"
                  class="form-control"
                  id="create_Class_class"
                  placeholder="ex. MCC-07"
                /> -->
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Update -->
      <div
        class="modal fade"
        id="updateClass"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="updateClassLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="detailClassLabel">
                update Class
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="create_Class_name"
                  placeholder="ex. 1"
                />
                <label for="desc" class="form-label fw-bold pt-3"
                  >Description</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="create_Class_email"
                  placeholder="ex. MMiya.bi@gmail.com"
                />
                <label for="deadline" class="form-label fw-bold pt-3"
                  >Deadline</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="create_Class_phone"
                  placeholder="ex. 0897678281"
                />
                <label for="segment" class="form-label fw-bold">Segment</label>
                <select
                  class="form-control form-control-sm select_program p-2"
                  aria-label="form-select-sm example"
                >
                  <option selected value="">Choose Segment</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  border: 1px solid #4b49ac;
                  background-color: white;
                  color: #4b49ac;
                "
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #4b49ac"
                onclick="update()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/js/trainer/class.js}"></script>
    </div>
  </body>
</html>
