<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
<head>
    <title>Program</title>
</head>
  <body>
    <!-- content -->
    <section layout:fragment="content">
      <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Programing Language</h3>
                    <p class="text-subtitle text-muted">List of Programing Language we teach</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Program</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Basic Tables start -->
        <section class="section">
            <div class="card d-flex">
              <div class="card-header d-flex justify-content-between">
                <b>List Of Programing Language</b>
                <input type="hidden" id="class_id" th:value="*{id}">
                <button class="btn btn-primary mb-3" data-bs-toggle="modal"
                data-bs-target="#addProgram">Add Data</button>
              </div>
                <div class="card-body ">
                    <table class="table" id="table-program">
                        <thead class=" text-center">
                            <tr>
                                <th class="col-2">No</th>
                                <th class="col-5">Name</th>
                                <th class="col-3">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </section>
        <!-- Basic Tables end -->
      </div>
<!-- Modal update Program -->
      <div
        class="modal fade"
        id="addProgram"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="addProgramLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="addProgramLabel">
                Add Program
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold"
                  >Program Name</label
                >
                <input type="hidden" name="update_program_id" id="update_program_id">
                <input
                  type="text"
                  class="form-control"
                  id="create_program_name"
                  placeholder="ex. MCC-07"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" onclick="create()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Update -->
      <div
        class="modal fade"
        id="updateProgram"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="updateProgramLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="updateProgramLabel">
                update Program
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <input type="hidden" name="update_program_id" id="update_id" />
                <label for="name" class="form-label fw-bold"
                  >Program Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="update_program_name"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" onclick="update()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Detail -->
      <div
        class="modal fade"
        id="detailProgram"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="detailProgramLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="detailProgramLabel">
                update Program
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Program Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="detail_program_id"
                  disabled
                />
                <label for="name" class="form-label fw-bold"
                  >Program Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="detail_program_name"
                  disabled
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/assets/js/admin/program.js}"></script>
    </div>
  </body>
</html>
