<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/regis.css}" />

    <title>Register</title>
  </head>

  <body>
    <section class="login-base">
      <div class="container login-block row">
        <div
          class="card-header bg-white row d-flex text-center"
          style="margin: 10px auto"
        >
          <h1 class="fs-1 mb-3">Register</h1>
          <p>
            Welcome to Learning Management System (LMS) registration page.
            Please fill out the form below to create your account
          </p>
        </div>
        <div class="login-content row">
          <form
            class="pb-3"
            th:action="@{/register}"
            th:method="POST"
            th:object="${traineeRequest}"
          >
            <div class="content-row-1 row">
              <div class="col-6">
                <div class="input-content p-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    id="register_name"
                    th:field="*{name}"
                  />
                </div>
                <!-- <label for="password" class="form-label"></label> -->
                <div class="input-content p-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    id="register_email"
                    th:field="*{email}"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="input-content p-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Phone"
                    id="register_phone"
                    th:field="*{phone}"
                  />
                </div>
                <div class="input-content p-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Address"
                    id="register_address"
                    th:field="*{address}"
                  />
                </div>
              </div>
            </div>
            <div class="content-row-2 row mb-4">
              <div class="col-6">
                <div class="input-content p-2">
                  <select name="" id="select_program" class="form-control">
                    <option value="">Choose Program</option>
                  </select>
                </div>
                <div class="input-content p-2">
                  <select
                    name=""
                    id="select_classroom"
                    class="form-control"
                    disabled
                  >
                    <option>Choose Class Room</option>
                  </select>
                  <input type="hidden" th:field="*{classroomId}" />
                </div>
              </div>
              <div class="col-6">
                <div class="input-content p-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    id="register_username"
                    th:field="*{username}"
                  />
                </div>
                <div class="input-content p-2">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    id="password1"
                    th:field="*{password}"
                  />
                </div>
                <div class="input-content p-2">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    id="password2"
                  />
                </div>
                <div>
                  <span id="message"></span>
                </div>
              </div>
            </div>
            <div class="bg-white d-flex flex-column">
              <div>
                <button type="submit" class="btn mt-4 text-white">
                  Submit
                </button>
              </div>
              <a href="/login" class="text-center">I already have an account</a>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/98d02758b8.js"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/regis.js}"></script>
  </body>
</html>
